.contenedor-responsive{
    background-color: white;
    /* width: 90%;
    max-width: 1000px; 
    aca abajo se escribe lo mismo pero en una sola linea*/
    width: min(90%,1000px);
    height: 400px;
    margin: 0 auto;
}